<div>
  <dt><%= Finance::Stock.human_attribute_name(:ratio) %></dt>
  <dd><%= @stock.ratio %></dd>
</div>
<div>
  <dt><%= Finance::Stock.human_attribute_name(:amount) %></dt>
  <dd><%= @stock.amount %></dd>
</div>
<div>
  <dt><%= Finance::Stock.human_attribute_name(:expense_amount) %></dt>
  <dd><%= @stock.expense_amount %></dd>
</div>
<div>
  <dt><%= Finance::Stock.human_attribute_name(:note) %></dt>
  <dd><%= @stock.note %></dd>
</div>
