<tr>
  <td><%= Finance::Stock.human_attribute_name(:ratio) %></td>
  <td><%= @stock.ratio %></td>
</tr>
<tr>
  <td><%= Finance::Stock.human_attribute_name(:amount) %></td>
  <td><%= @stock.amount %></td>
</tr>
<tr>
  <td><%= Finance::Stock.human_attribute_name(:expense_amount) %></td>
  <td><%= @stock.expense_amount %></td>
</tr>
<tr>
  <td><%= Finance::Stock.human_attribute_name(:note) %></td>
  <td><%= @stock.note %></td>
</tr>
