<div class="inline fields" id="expense_expense_items_<%= ef.index %>" data-title="expense_expense_items">
  <% if ef.index == 0 %>
    <%= ef.options[:parent_builder].label :expense_items %>
  <% else %>
    <label class="three wide field"></label>
  <% end %>
  <%# ef.select :financial_taxon_id, options_for_select(@taxon_options, ef.object.financial_taxon_id), { include_blank: 'Select Taxon', css: { wrapper_input: 'three wide field' }}, {data: {title: 'expense_item_financial_taxon'}} %>
  <%= ef.text_field :note %>
  
  <% if ef.options[:parent_builder].object.financial_taxon&.take_stock %>
    <%= ef.number_field :quantity %>
    <%= ef.number_field :price %>
  <% else %>
    <%= ef.hidden_field :quantity %>
    <%= ef.hidden_field :price %>
  <% end %>
  
  <% if ef.options[:parent_builder].object.type == 'BudgetExpense' %>
    <%= ef.number_field :budget %>
  <% else %>
    <%= ef.number_field :amount %>
  <% end %>
  
  <% if ef.options[:parent_builder].object.financial_taxon&.individual %>
    <%= ef.select :member_id, options_for_select([[ef.object.member&.name, ef.object.member_id]], ef.object.member_id), {include_blank: true, css: { wrapper_input: 'three wide field' }}, {data: {title: 'expense_item_member'}} %>
  <% end %>
  
  <div class="field">
    <%= link_to add_item_my_expenses_path('item', index: ef.index, type: ef.options[:parent_builder].object.type, financial_taxon_id: ef.options[:parent_builder].object.financial_taxon_id), data: { title: 'add_item' }, remote: true do %>
      <i class="plus circle icon"></i>
    <% end %>
    <% if ef.object.id %>
      <%= ef.check_box :_destroy, { on: { offset: false }, css: { wrap_checkbox: 'ui checkbox' }, checked: true }, 0, 1 %>
    <% else %>
      <%= link_to remove_item_my_expenses_path('item', index: ef.index, type: ef.options[:parent_builder].object.type), remote: true do %>
        <i class="minus circle icon"></i>
      <% end %>
    <% end %>
  </div>
</div>
