<%= form_with theme: 'search', model: Finance::Budget.new do |f| %>
  <div class="field-body">
    <%= f.text_field 'subject-like' %>
    <%= f.number_field :amount %>
    <div class="field is-narrow">
      <%= f.submit %>
      <%= link_to t('.clear'), filter_params(except: [:amount, 'subject-like', :fund_id]), class: 'button is-light' %>
    </div>
  </div>
<% end %>
