<div class="field is-horizontal" data-controller="coeff field" data-field-index-value="<%= ef.index %>">
  <% if ef.index == 0 %>
    <%= ef.options[:parent_builder].label :expense_items %>
  <% else %>
    <label class="field-label is-normal"></label>
  <% end %>
  <div class="field-body">
  <%= ef.text_field :note %>
  <%= ef.number_field :quantity, step: 1, data: { action: 'budget#updateQuantity' } %>
  <%= ef.number_field :price, step: 0.01, data: { action: 'budget#updatePrice' } %>
  <%= ef.number_field :budget_amount, step: 0.01, data: { action: 'budget#updateBudgetAmount' } %>
  <div class="field has-addons is-flex">
    <i class="fa-solid fa-plus" data-action="click->field#add" style="cursor: pointer"></i>
    <i class="fa-solid fa-minus" data-action="click->field#add" style="cursor: pointer"></i>
  </div>
  </div>
</div>
