<div class="field is-horizontal" data-controller="coeff field" data-field-index-value="<%= ef.index %>">
  <% if ef.index == 0 %>
    <%= ef.options[:parent_builder].label :expense_items %>
  <% else %>
    <label class="field-label is-normal"></label>
  <% end %>
  <div class="field-body">
  <%= ef.text_field :note %>
  <%= ef.number_field :quantity, step: 1, data: { coeff_target: 'quantity', action: 'coeff#updateQuantity' } %>
  <%= ef.number_field :price, step: 0.01, data: { coeff_target: 'single', action: 'coeff#updateSingle' } %>
  <%= ef.number_field :budget_amount, step: 0.01, data: { coeff_target: 'total', action: 'coeff#updateTotal' } %>
  <div class="field has-addons has-addons-middle">
    <i class="fa-solid fa-lg fa-plus" data-action="click->field#add" style="cursor: pointer"></i>
    <i class="fa-solid fa-lg fa-minus" data-action="click->field#add" style="cursor: pointer"></i>
  </div>
  </div>
</div>
