<div class="field is-horizontal" id="budget_expense_items_wrapper_<%= ef.index %>" data-controller="budget">
  <% if ef.index == 0 %>
    <%= ef.options[:parent_builder].label :expense_items %>
  <% else %>
    <label class="field-label is-normal"></label>
  <% end %>
  <div class="field-body">
  <%= ef.text_field :note %>
  <%= ef.number_field :quantity, step: 1, data: { action: 'budget#updateQuantity' } %>
  <%= ef.number_field :price, step: 0.01, data: { action: 'budget#updatePrice' } %>
  <%= ef.number_field :budget_amount, step: 0.01, data: { action: 'budget#updateBudgetAmount' } %>
  <div class="field has-addons is-flex">
    <%= link_to({ action: 'add_item', index: ef.index, financial_taxon_id: ef.options[:parent_builder].object.financial_taxon_id }, { data: { title: 'add_item' } }) do %>
      <i class="fas fa-plus"></i>
    <% end %>
    <% if ef.object.id %>
      <%= link_to({ action: 'remove_item', index: ef.index}, { remote: true }) do %>
        <i class="fas fa-minus"></i>
      <% end %>
    <% else %>
      <%= link_to({ action: 'remove_item', index: ef.index}, { remote: true }) do %>
        <i class="fas fa-minus"></i>
      <% end %>
    <% end %>
  </div>
  </div>
</div>
