<table class="table is-fullwidth is-borderless">
  <tr>
    <th><%= Finance::ExpenseItem.human_attribute_name(:note) %></th>
    <th><%= Finance::ExpenseItem.human_attribute_name(:budget_amount) %></th>
    <th><%= Finance::ExpenseItem.human_attribute_name(:amount) %></th>
    <th></th>
  </tr>
  <% expense_items.each do |item| %>
    <tr>
      <td><%= item.note %></td>
      <td><%= item.budget_amount %></td>
      <td><%= item.amount %></td>
      <td></td>
    </tr>
  <% end %>
</table>
