<tr data-depth="<%= node.depth_str %>">
  <td>
    <span><%= ('&emsp;' * node.depth * 2).html_safe %></span>
    <a onclick="collapse(this)" href="javascript:void(0)"><i class="grey caret down icon"></i></a>
    <span><%= node.name %></span>
  </td>
  <td><%= node.position %></td>
  <td><%= node.verifier&.name %></td>
  <td>
    <%= check_box_tag '[financial]take_stock', nil, node.take_stock, data: { method: :patch, remote: true, url: admin_financial_taxon_path(node), submit: true }, id: nil %>
  </td>
  <td>
    <%= check_box_tag '[financial]individual', nil, node.individual, data: { method: :patch, remote: true, url: admin_financial_taxon_path(node), submit: true }, id: nil %>
  </td>
  <td>
    <%= link_to t('.edit'), edit_admin_financial_taxon_path(node), remote: true, class: 'ui pink label' %>
    <%= link_to t('.destroy'), admin_financial_taxon_path(node), method: :delete, data: { confirm: t('.confirm') }, remote: true, class: 'ui red label' %>
  </td>
</tr>
