<div class="field is-horizontal" id="expense_expense_items_<%= ef.index %>" data-controller="expense">
  <% if ef.index == 0 %>
    <%= ef.options[:parent_builder].label :expense_items %>
  <% else %>
    <label class="field-label is-normal"></label>
  <% end %>
  <div class="field-body">
  <%# ef.select :financial_taxon_id, options_for_select(@taxon_options, ef.object.financial_taxon_id), { include_blank: 'Select Taxon', css: { wrapper_input: 'three wide field' }}, {data: {title: 'expense_item_financial_taxon'}} %>
  <%= ef.text_field :note %>
  <%= ef.number_field :quantity, step: 1, data: { action: 'expense#updateQuantity' } %>
  <%= ef.number_field :price, data: { action: 'expense#updatePrice' } %>
  <%= ef.number_field :amount, data: { action: 'expense#updateAmount' } %>
  <div class="field has-addons is-flex">
    <%= link_to({ action: 'add_item', index: ef.index, type: ef.options[:parent_builder].object.type, financial_taxon_id: ef.options[:parent_builder].object.financial_taxon_id }, { data: { title: 'add_item' } }) do %>
      <i class="fas fa-plus"></i>
    <% end %>
    <% if ef.object.id %>
      <%= link_to({ action: 'remove_item', index: ef.index, type: ef.options[:parent_builder].object.type }, { remote: true }) do %>
        <i class="fas fa-minus"></i>
      <% end %>
    <% else %>
      <%= link_to({ action: 'remove_item', index: ef.index, type: ef.options[:parent_builder].object.type }, { remote: true }) do %>
        <i class="fas fa-minus"></i>
      <% end %>
    <% end %>
  </div>
  </div>
</div>
