<div class="field is-horizontal" data-controller="field" data-field-index-value="<%= ef.index %>">
  <% if ef.index == 0 %>
    <%= ef.options[:parent_builder].label :expense_members %>
  <% else %>
    <label class="field-label is-normal"></label>
  <% end %>
  <div class="field-body">
    <%= ef.select :member_id, options_for_select([[ef.object.member&.name, ef.object.member_id]], ef.object.member_id), include_blank: true, wrap: { input: 'three wide field' }, disabled: ef.object.persisted? %>
    <%= ef.number_field :advance, readonly: true %>
    <%= ef.number_field :amount %>
    <div class="field has-addons is-flex">
      <i class="fas fa-plus" style="cursor: pointer" data-action="click->field#add"></i>
      <i class="fas fa-minus" style="cursor: pointer" data-action="click->field#remove"></i>
    </div>
  </div>
</div>
