<tr>
  <td class="has-text-right"><%= FundIncome.human_attribute_name(:amount) %></td>
  <td><%= @fund_income.amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= FundIncome.human_attribute_name(:user_id) %></td>
  <td><%= @fund_income.user_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= FundIncome.human_attribute_name(:proof) %></td>
  <td><%= @fund_income.proof %></td>
</tr>
