<div>
  <dt><%= Finance::FundIncome.human_attribute_name(:amount) %></dt>
  <dd><%= @fund_income.amount %></dd>
</div>
<div>
  <dt><%= Finance::FundIncome.human_attribute_name(:user_id) %></dt>
  <dd><%= @fund_income.user_id %></dd>
</div>
<div>
  <dt><%= Finance::FundIncome.human_attribute_name(:proof) %></dt>
  <dd><%= @fund_income.proof %></dd>
</div>
