<td><%= link_to budget.subject, { action: 'show', id: budget.id }, remote: true %></td>
<td><%= budget.amount %></td>
<td>
  <span class="tag"><%= budget.state_i18n %></span>
  <% budget.all_verifications.each do |verification| %>
    <p>
      <%= verification.job_title&.name %>
      <%= verification.member&.name %>
      <span class="tag"><%= verification.confirmed_i18n %></span>
    </p>
  <% end %>
</td>
<td>
  <%= link_to 'History', audits_path(budget.class.base_class.name, budget.id), class: 'button is-small is-rounded is-light' %>
  <% if ['init', 'rejected'].include? budget.state %>
    <%= link_to({ action: 'edit', id: budget.id }, { aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to({ action: 'destroy', id: budget.id }, { method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fas fa-trash"></i>
    <% end %>
  <% end %>
</td>
