<div class="field is-horizontal" id="budget_expense_items_<%= ef.index %>" data-controller="expense">
  <% if ef.index == 0 %>
    <%= ef.options[:parent_builder].label :expense_items %>
  <% else %>
    <label class="field-label is-normal"></label>
  <% end %>
  <div class="field-body">
  <%# ef.select :financial_taxon_id, options_for_select(@taxon_options, ef.object.financial_taxon_id), { include_blank: 'Select Taxon', css: { wrapper_input: 'three wide field' }}, {data: {title: 'expense_item_financial_taxon'}} %>
  <%= ef.text_field :note %>
  <% if ef.options[:parent_builder].object.financial_taxon&.take_stock %>
    <%= ef.number_field :quantity, step: 1, data: { action: 'expense#updateQuantity' } %>
    <%= ef.number_field :price, data: { action: 'expense#updatePrice' } %>
  <% else %>
    <%= ef.hidden_field :quantity %>
    <%= ef.hidden_field :price %>
  <% end %>
  <%= ef.number_field :budget_amount %>
  <% if ef.options[:parent_builder].object.financial_taxon&.individual %>
    <%= ef.select :member_id, options_for_select([[ef.object.member&.name, ef.object.member_id]], ef.object.member_id), { include_blank: true, wrap: { input: 'three wide field' } } %>
  <% end %>
  <div class="field has-addons is-flex">
    <%= link_to({ action: 'add_item', index: ef.index, financial_taxon_id: ef.options[:parent_builder].object.financial_taxon_id }, { data: { title: 'add_item' }, remote: true }) do %>
      <i class="fas fa-plus"></i>
    <% end %>
    <% if ef.object.id %>
      <%= ef.check_box :_destroy, { on: { offset: false }, css: { wrap_checkbox: 'ui checkbox' }, checked: true }, 0, 1 %>
    <% else %>
      <%= link_to({ action: 'remove_item', index: ef.index}, { remote: true }) do %>
        <i class="fas fa-minus"></i>
      <% end %>
    <% end %>
  </div>
  </div>
</div>
