<div class="ui top attached borderless menu">
  <%= link_to 'My Expenses', my_expense_members_path, class: active_helper(controllers: 'finance_my/expense_members') %>
  <%= link_to 'My Payment Methods', my_payment_methods_path, class: active_helper(controllers: 'payment_methods') %>
</div>

<div class="ui attached segment">
  <%= render 'search_form' %>
</div>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= ExpenseMember.human_attribute_name(:id) %></th>
      <th><%= Expense.human_attribute_name(:subject) %></th>
      <th><%= ExpenseMember.human_attribute_name(:advance) %></th>
      <th><%= ExpenseMember.human_attribute_name(:amount) %></th>
      <th><%= ExpenseMember.human_attribute_name(:payment_method_id) %></th>
      <th><%= ExpenseMember.human_attribute_name(:created_at) %></th>
      <th><%= ExpenseMember.human_attribute_name(:state) %></th>
      <th>
      
      </th>
    </tr>
  </thead>
  <tbody>
  <% @expense_members.each do |expense_member| %>
    <tr>
      <td><%= expense_member.id %></td>
      <td><%= link_to expense_member.expense.subject, my_expense_member_path(expense_member.id) %></td>
      <td><%= expense_member.advance %></td>
      <td><%= expense_member.amount %></td>
      <td><%= expense_member.payment_method&.account_info %></td>
      <td><time><%= expense_member.created_at.to_s(:rfc822) %></time></td>
      <td>
        <span class="ui label"><%= expense_member.state_i18n %></span>
      </td>
      <td class="ui labels">
        <%= link_to my_expense_member_path(expense_member), class: 'ui blue mini icon button' do %>
          <i class="location arrow icon"></i>
        <% end %>
        <%= link_to edit_my_expense_member_path(expense_member), class: 'ui pink mini icon button' do %>
          <i class="pencil alternate icon"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @expense_members %>
