<div class="ui segment breadcrumb">
  <%= link_to 'Back', my_expense_members_path, class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section">Show</div>
</div>

<table class="table is-hoverable is-fullwidth">
  <thead>
  <tr>
    <th class="three wide"></th>
    <th>
      <%= link_to t('.edit'), edit_my_expense_member_path(@expense_member), class: 'ui mini blue right floated button' %>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="has-text-right"><%= Expense.human_attribute_name(:type) %></td>
    <td><%= @expense_member.expense.type_i18n %></td>
  </tr>
  <tr>
    <td class="has-text-right"><%= Expense.human_attribute_name(:subject) %></td>
    <td>
      <%= @expense_member.expense.subject %>
      <%= link_to 'more', my_expense_path(@expense_member.expense_id) %>
    </td>
  </tr>
  <tr>
    <td class="has-text-right"><%= Expense.human_attribute_name(:expense_items) %></td>
    <td class="positive">
      <%= render partial: 'items', locals: { expense_items: @expense_member.expense_items } %>
    </td>
  </tr>
  <tr>
    <td class="has-text-right"><%= ExpenseMember.human_attribute_name(:amount) %></td>
    <td>
      <%= @expense_member.amount %>
    </td>
  </tr>
  <tr>
    <td class="has-text-right"><%= Expense.human_attribute_name(:note) %></td>
    <td>
      <%= @expense_member.note %>
    </td>
  </tr>
  <tr>
    <td class="has-text-right"><%= ExpenseMember.human_attribute_name(:invoices) %></td>
    <td>
      <% if @expense_member.advance.to_d > 0 %>
        <p><%= link_to 'Borrow', bill_my_expense_member_path(@expense_member, type: 'borrow', format: 'pdf') %></p>
      <% end %>
      <p><%= link_to 'Reimburse', bill_my_expense_member_path(@expense_member, type: 'reimburse', format: 'pdf') %></p>
    </td>
  </tr>
  <tr>
    <td class="has-text-right"><%= ExpenseMember.human_attribute_name(:items) %></td>
    <td>
      <%= link_to 'items', direct_data_list_table_lists_path('ExpenseItemExport', expense_member_id: @expense_member.id, format: 'xlsx') %>
    </td>
  </tr>
  </tbody>
</table>
