<div class="<%= active_helper(modules: 'finance/admin', active: 'menu ex-accordion is-active', item: 'menu ex-accordion') %>" data-controller="menu empty">
  <a class="menu-label" data-action="menu#toggle">
    <i class="fa-solid fa-money-bill fa-fw"></i>
    <span><%= t('finance.admin.title') %></span>
    <i class="fa-solid dropdown"></i>
  </a>
  <div class="menu-list">
    <%= link_to t('finance.admin.funds.index.title'), { controller: 'finance/admin/funds' }, class: active_helper(controllers: ['funds', 'fund_budgets', 'fund_incomes', 'fund_expenses'], active: 'is-active') %>
    <%= link_to t('finance.admin.assessments.index.title'), { controller: 'finance/admin/assessments' }, class: active_helper(controllers: ['assessments', 'stocks'], active: 'is-active') %>
    <%= link_to t('finance.admin.budgets.index.title'), { controller: 'finance/admin/budgets' }, class: active_helper(controllers: 'budgets', active: 'is-active') %>
    <%= link_to t('finance.admin.expenses.index.title'), { controller: 'finance/admin/expenses' }, class: active_helper(controllers: 'expenses', active: 'is-active') %>
    <%= link_to t('finance.admin.financial_taxons.index.title'), { controller: 'finance/admin/financial_taxons' }, class: active_helper(controllers: 'financial_taxons', active: 'is-active') %>
  </div>
</div>
