<td><%= link_to model.subject, { action: 'show', id: model.id } %></td>
<td><%= model.amount %></td>
<td>
  <span class="tag"><%= model.state_i18n %></span>
  <% model.all_verifications.each do |verification| %>
    <p>
      <%= verification.job_title&.name %>
      <%= verification.member&.name %>
      <span class="tag"><%= verification.confirmed_i18n %></span>
    </p>
  <% end %>
</td>
