<th>
  <p><%= Finance::Expense.human_attribute_name(:subject) %></p>
  <p><%= Finance::ExpenseMember.human_attribute_name(:member) %></p>
  <p><%= Org::Member.human_attribute_name(:department) %></p>
</th>
<th><%= Finance::ExpenseMember.human_attribute_name(:amount) %></th>
<th>
  <p><%= Finance::ExpenseMember.human_attribute_name(:advance) %></p>
  <p><%= Finance::ExpenseMember.human_attribute_name(:payout_amount) %></p>
</th>
<th><%= Finance::ExpenseMember.human_attribute_name(:state) %></th>
