<td>
  <p><%= expense_member.expense_subject %></p>
  <p><%= expense_member.member.name %></p>
  <p><%= expense_member.member.department&.full_name %></p>
</td>
<td><%= expense_member.amount %></td>
<td>
  <% if expense_member.advance %>
  <p>
  <%= expense_member.advance %>
  <% if expense_member.advance_payout_id %>
    <%= link_to finance_payout_path(expense_member.advance_payout_id) do %>
      <i class="money bill alternate icon"></i>
    <% end %>
  <% else %>
    <%= link_to to_advance_pay_finance_expense_member_path(expense_member), method: :patch, aria: { label: 'to pay', confirm: 'Are you sure?' } do %>
      <i class="share icon"></i>
    <% end %>
  <% end %>
  </p>
  <% end %>
  <p>
  <%= expense_member.payout_amount %>
  <% if expense_member.payout_id %>
    <%= link_to finance_payout_path(expense_member.payout_id) do %>
      <i class="money bill alternate icon"></i>
    <% end %>
  <% else %>
    <%= link_to to_pay_finance_expense_member_path(expense_member), method: :patch, aria: { label: 'to pay', confirm: 'Are you sure?' } do %>
      <i class="share icon"></i>
    <% end %>
  <% end %>
  </p>
</td>
<td class="ui labels">
  <span class="ui label"><%= expense_member.state_i18n %></span>
  <% if expense_member.can_operate?(current_member) %>
    <div class="ui mini buttons">
      <%= link_to 'Approve', new_check_path('ExpenseMember', expense_member.id, state: expense_member.next_state(:state)), class: 'ui mini positive button' %>
      <div class="or"></div>
      <%= link_to Finance::ExpenseMember.enum_i18n(:state, 'rejected'), new_check_path('Expense', expense_member.id, state: 'rejected'), class: 'ui mini negative button' %>
    </div>
  <% end %>
</td>
<td>
  <%= link_to 'items', items_my_expense_member_path(expense_member), class: 'button is-small is-rounded is-light' %>
  <%= link_to edit_finance_expense_member_path(expense_member), aria: { label: t('.edit.title') }, class: 'button is-small is-rounded is-light' do %>
    <i class="fa-solid fa-pencil"></i>
  <% end %>
  <%= link_to finance_expense_member_path(expense_member), method: :delete, data: { turbo_confirm: t('.destroy.confirm') }, class: 'button is-small is-rounded is-light' do %>
    <i class="fa-solid fa-trash"></i>
  <% end %>
</td>
