<tr>
  <td class="has-text-right"><%= FundUse.human_attribute_name(:financial_type) %></td>
  <td><%= @fund_expense.financial_type %></td>
</tr>
<tr>
  <td class="has-text-right"><%= FundUse.human_attribute_name(:financial_id) %></td>
  <td><%= @fund_expense.financial_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= FundUse.human_attribute_name(:amount) %></td>
  <td><%= @fund_expense.amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= FundUse.human_attribute_name(:note) %></td>
  <td><%= @fund_expense.note %></td>
</tr>
