<td><%= model.type_i18n %></td>
<td><%= link_to model.subject, me_expense_path(model) %></td>
<td><%= model.amount %></td>
<td>
  <%= link_to model.proof.filename, rails_blob_path(model.proof, disposition: 'attachment') if model.proof.attached? %>
</td>
<td>
  <span class="tag"><%= model.state_i18n %></span>
  <% model.all_verifications.each do |verification| %>
    <p>
      <%= verification.job_title&.name %>
      <%= verification.member&.name %>
      <span class="tag"><%= verification.confirmed_i18n %></span>
    </p>
  <% end %>
</td>
<td class="ui labels">
  <%= link_to 'History', audits_path(model.class.base_class.name, model.id), class: 'button is-small is-rounded is-light' %>
  <% if ['init', 'rejected'].include? model.state %>
    <%= link_to edit_me_expense_path(model), aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to me_expense_path(model), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-trash"></i>
    <% end %>
  <% end %>
</td>
