<div class="inline fields" id="expense_expense_members_<%= ef.index %>">
  <% if ef.index == 0 %>
    <%= ef.options[:parent_builder].label :expense_members %>
  <% else %>
    <label class="three wide field"></label>
  <% end %>
  <%= ef.select :member_id, options_for_select([[ef.object.member&.name, ef.object.member_id]], ef.object.member_id), {include_blank: true, css: { wrap_input: 'three wide field' }}, { disabled: ef.object.persisted?, data: {title: 'expense_member_member'}} %>
  <%= ef.number_field :advance, readonly: true, css: { wrap_input: 'three wide field' } %>
  <%= ef.number_field :amount, css: { wrap_input: 'three wide field' } %>
  <div class="field">
    <%= link_to add_item_my_expenses_path('member', index: ef.index), remote: true do %>
      <i class="plus circle icon"></i>
    <% end %>
    <% if ef.object.id %>
      <%= ef.check_box :_destroy, { can: { offset: false }, css: { wrap_checkbox: 'ui checkbox' }, checked: true }, 0, 1 %>
    <% else %>
      <%= link_to remove_item_my_expenses_path('member', index: ef.index), remote: true do %>
        <i class="minus circle icon"></i>
      <% end %>
    <% end %>
  </div>
</div>
