<div class="ui segment breadcrumb">
  <%= link_to 'My Expenses', my_expenses_path, class: 'section' %>
  <div class="divider"> / </div>
  <%= link_to @expense.subject, my_expense_path(@expense), class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section">Confirm</div>
</div>

<%= render 'table' %>

<div class="ui attached segment">
  <%= form_with model: @expense, scope: 'expense', url: my_expense_path(@expense) do |f| %>
    <%= render 'shared/error_messages', target: @expense %>
    <% if @expense.type == 'PrepayExpense' %>
      <%= f.fields :expense_members, on: { wrap_all: false, label: false, placeholder: true }, css: { wrapper_input: 'two wide field' } do |ef| %>
        <%= render partial: 'member_form', locals: { ef: ef } %>
      <% end %>
    <% end %>
    <% if @expense.type == 'PayableExpense' %>
    <div class="inline fields">
      <%= f.collection_select :payment_method_id, @payment_methods, :id, :account_info, { on: { wrap_all: false } } %>
      <%= link_to 'Add', new_admin_payment_method_path, class: 'ui button' %>
    </div>
    <% end %>
    <%= f.submit %>
  <% end %>
</div>
