<td><%= expense.subject %></td>
<td><%= expense.creator.name %></td>
<td><%= expense.amount %></td>
<td class="tags">
  <span class="tag"><%= expense.state_i18n %></span>
  <% if expense.can_operate?(current_member) %>
    <div class="buttons has-addons">
      <%= link_to 'Approve', new_admin_verification_path('Expense', expense.id), class: 'button is-primary' %>
      <%= link_to Expense.enum_i18n(:state, 'rejected'), new_admin_verification_path('Expense', expense.id, state: 'rejected'), class: 'button is-danger' %>
    </div>
  <% end %>
</td>
<td><time data-controller="time"><%= expense.created_at.to_fs(:iso8601) %></time></td>
