<div class="menu-label">
  <span><%= t('finance.me.title') %></span>
  <%= link_to({ controller: 'finance/admin/expenses' }, target: '_blank', aria: { label: '管理' }) do %>
    <i class="fas fa-cog"></i>
  <% end %>
</div>
<div class="menu-list">
  <%= link_to t('finance.me.expense_members.index.title'), me_expense_members_path, class: active_helper(controllers: ['finance/me/expense_members', 'payment_methods'], active: 'is-active') %>
  <%= link_to t('finance.me.budgets.index.title'), me_budgets_path, class: active_helper(controllers: ['finance/me/budgets'], active: 'is-active') %>
  <%= link_to t('finance.me.expenses.index.title'), me_expenses_path, class: active_helper(controllers: ['finance/me/expenses'], active: 'is-active') %>
</div>
