<tr>
  <td><%= fund_budget.financial_type_i18n %></td>
  <td><%= fund_budget.financial.name %></td>
  <td><%= fund_budget.amount %></td>
  <td><%= fund_budget.note %></td>
  <td>
    <%= link_to({ action: 'show', id: fund_budget.id }, { aria: { label: t('.show') }, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fas fa-info"></i>
    <% end %>
    <%= link_to({ action: 'edit', id: fund_budget.id }, { aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to({ action: 'destroy', id: fund_budget.id }, { method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
