<tr>
  <td class="has-text-right"><%= FundBudget.human_attribute_name(:financial_type) %></td>
  <td><%= @fund_budget.financial_type %></td>
</tr>
<tr>
  <td class="has-text-right"><%= FundBudget.human_attribute_name(:financial_id) %></td>
  <td><%= @fund_budget.financial_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= FundBudget.human_attribute_name(:amount) %></td>
  <td><%= @fund_budget.amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= FundBudget.human_attribute_name(:note) %></td>
  <td><%= @fund_budget.note %></td>
</tr>
