<td>
  <span style="width: <%= model.depth * 1.43 %>em; display: inline-block"></span>
  <% if !model.leaf? %>
    <i class="fa-solid fa-caret-down fa-fw" data-action="click->tree#collapse" style="cursor: pointer"></i>
  <% else %>
    <i class="fa-solid fa-minus fa-fw"></i>
  <% end %>
  <span><%= model.name %></span>
  <% if model.organ != current_organ %>
    <span aria-label="<%= model.organ.name %>"><i class="fa-regular fa-angle-double-up text-grey-light"></i></span>
  <% end %>
</td>
<td>
  <% model.verifiers.each do |verifier| %>
    <p><%= verifier.job_title.name %><%= verifier.member&.name %></p>
  <% end %>
  <p>
    <%= link_to({ controller: 'auditor/admin/verifiers', action: 'new', verifiable_type: 'Finance::FinancialTaxon', verifiable_id: model.id }, data: { turbo_frame: 'modal' }, class: 'button is-rounded is-small') do %>
      <i class="fa-solid fa-user-check"></i>
    <% end %>
  </p>
</td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :take_stock, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
    <%= f.submit nil, data: { input_target: 'submit' }, style: 'display: none' %>
  <% end %>
</td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :individual, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
    <%= f.submit nil, data: { input_target: 'submit' }, style: 'display: none' %>
  <% end %>
</td>
