<td><%= link_to expense_member.expense.subject, me_expense_member_path(expense_member.id) %></td>
<td><%= expense_member.advance %></td>
<td><%= expense_member.amount %></td>
<td><%= expense_member.payment_method&.account_info %></td>
<td><time><%= expense_member.created_at.to_fs(:iso8601) %></time></td>
<td class="tags">
  <span class="tag"><%= expense_member.state_i18n %></span>
</td>
