<div>
  <dt><%= Finance::Fund.human_attribute_name(:name) %></dt>
  <dd><%= @fund.name %></dd>
</div>
<div>
  <dt><%= Finance::Fund.human_attribute_name(:budget_amount) %></dt>
  <dd><%= @fund.budget_amount %></dd>
</div>
<div>
  <dt><%= Finance::Fund.human_attribute_name(:amount) %></dt>
  <dd><%= @fund.amount %></dd>
</div>
<div>
  <dt><%= Finance::Fund.human_attribute_name(:note) %></dt>
  <dd><%= @fund.note %></dd>
</div>
