<tr>
  <td class="has-text-right"><%= Fund.human_attribute_name(:name) %></td>
  <td><%= @fund.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Fund.human_attribute_name(:budget_amount) %></td>
  <td><%= @fund.budget_amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Fund.human_attribute_name(:amount) %></td>
  <td><%= @fund.amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Fund.human_attribute_name(:note) %></td>
  <td><%= @fund.note %></td>
</tr>
