<%= render 'filter_form' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= Fund.human_attribute_name(:name) %></th>
      <th><%= Fund.human_attribute_name(:budget) %></th>
      <th><%= Fund.human_attribute_name(:amount) %></th>
      <th><%= Fund.human_attribute_name(:note) %></th>
      <th>
        <%= link_to({ action: 'new' }, { remote: true, class: 'button is-small is-link' }) do %>
          <i class="fas fa-plus"></i><span><%= t('.new') %></span>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @funds.each do |fund| %>
    <tr>
      <td><%= fund.name %></td>
      <td><%= fund.budget %></td>
      <td><%= fund.amount %></td>
      <td><%= fund.note %></td>
      <td>
        <%= link_to({ controller: 'finance/admin/fund_incomes', action: 'index', fund_id: fund.id }, { aria: { label: t('finance.admin.fund_incomes.index.title') }, class: 'button is-small is-rounded is-light' }) do %>
          <i class="fas fa-list"></i>
        <% end %>
        <%= link_to({ action: 'edit', id: fund.id }, { aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' }) do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to({ action: 'destroy', id: fund.id }, { method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' }) do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @funds %>
