<% if rails_role_user.any_role?('finance/admin') %>
<div class="item">
  <a class="<%= active_helper(modules: 'finance/admin', active_class: 'title active', item_class: 'title') %>">
    <i class="money bill icon"></i>
    <span><%= t('finance.admin.title') %></span>
  </a>
  <div class="<%= active_helper(controllers: ['expenses', 'financial_taxons', 'payouts'], active_class: 'menu content active', item_class: 'menu content') %>">
    <%= link_to t('finance.admin.expenses.index.title'), admin_expenses_path, class: active_helper(controllers: 'expenses') %>
    <%= link_to t('finance.admin.finance_taxons.index.title'), admin_financial_taxons_path, class: active_helper(controllers: 'financial_taxons') %>
    <%= link_to t('finance.admin.payouts.index.title'), admin_payouts_path, class: active_helper(controllers: 'payouts') %>
    <%= link_to t('finance.admin.payment_methods.index.title'), admin_payment_methods_path, class: active_helper(controllers: 'payment_methods') %>
  </div>
</div>
<% end %>
